body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DISPLAY */

/* Diplay on Hover */
.display-on-hover {
  display: none;
}

.hover-trigger:hover > .display-on-hover,
.hover-trigger:hover > .hover-trigger-layer > .display-on-hover {
  display: block;
}

.hidden-on-hover {
  display: inline-block;
}

.hover-trigger:hover > .hover-trigger-layer > .hidden-on-hover {
  display: none;
}

/* Dropdown */
.light-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 235px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.light-dropdown-content div {
  float: none;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.light-dropdown-content div:hover {
  background-color: #ddd;
}

.light-dropdown:hover .dropdown-content {
  display: block;
}

.dark-dropdown-content {
  position: absolute;
  background-color: #2d3338;
  color: #838a96;
  min-width: 235px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dark-dropdown-content div {
  float: none;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dark-dropdown-content div:hover {
  background-color: rgb(52, 62, 66);
}

.dark-dropdown:hover .dropdown-content {
  display: block;
}

/* TEXT | FONT */
.text-clickable {
  cursor: pointer;
}

.text-clickable:hover {
  text-decoration: underline;
}

/* COMPONENT */

/* Create Workspace Button */
.light-workspace-button {
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: #f1f2f3;
  color: #868c96;
  font-size: 0.9em;
}

.light-workspace-button:hover {
  background-color: #e9e9e9;
}

.dark-workspace-button {
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: #384047;
  color: #868c96;
  font-size: 0.9em;
}

.dark-workspace-button:hover {
  background-color: #2c323d;
}

/* Hover Icon-Background */
.light-ws-icon-hover:hover {
  background-color: #f0f3fd;
  border-radius: 7px;
}

.dark-ws-icon-hover:hover {
  background-color: #222b3a;
  border-radius: 7px;
}


/* COMPONENT EFFECTS */

/* Workspace Scroller */
.sidebar-workspace-scroller {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.sidebar-workspace-scroller::-webkit-scrollbar { /* WebKit */
  width: 10px;
  height: 0;
}

.sidebar-workspace-scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.sidebar-workspace-scroller::-webkit-scrollbar-thumb {
  background: darkgrey; 
  border-radius: 10px;
}

.sidebar-workspace-scroller::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

/* New Task Button */
.new-task-btn:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.loading-spinner {
    border: 8px solid #dadada; /* Light grey */
    border-top: 8px solid grey; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1.4s linear infinite;  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}